.testimonials-wrapper {
	@apply mx-auto mt-5 flex flex-wrap gap-4 md:w-10/12;

	.card {
		@apply mt-0 w-full;
	}

	@variant lg {
		/* Default: 4+ items (or fallback for all) */
		.card {
			width: calc(25% - 0.75rem);
		}

		/* one item */
		.card:nth-child(1):nth-last-child(1) {
			width: 100%;
		}

		/* two items */
		.card:nth-child(1):nth-last-child(2),
		.card:nth-child(2):nth-last-child(1) {
			width: calc(50% - 0.5rem); /* gap-4 = 1rem, split between 2 items */
		}

		/* three items */
		.card:nth-child(1):nth-last-child(3),
		.card:nth-child(2):nth-last-child(2),
		.card:nth-child(3):nth-last-child(1) {
			width: calc(33.3333% - 0.6667rem); /* (1rem gap × 2 gaps) / 3 items */
		}

		/* four items */
		.card:nth-child(1):nth-last-child(4),
		.card:nth-child(2):nth-last-child(3),
		.card:nth-child(3):nth-last-child(2),
		.card:nth-child(4):nth-last-child(1) {
			width: calc(25% - 0.75rem); /* (1rem gap × 3 gaps) / 4 items */
		}
	}
}

.testimonials__header {
	@apply border-b border-black pb-2;
}
