<!-- Template: {{ _self }} -->

{% set id = id|default %}
{% set c7WidgetSelector = c7WidgetSelector|default %}
{% set code = code|default %}
{% set headlineBlocks = headlineBlocks|default %}
{% set productCardBlocks = productCardBlocks|default %}
{% set hasBackground = hasBackground ?? false %}
{% set mt = mt|default %}
{% set width = width|default('section--wide') %}

{% set sectionAttr = {
	id: id,
	class: ['section', width, mt]
} %}

<section {{ attr(sectionAttr) }}>
	{% tag 'article'
		with
		{
			class: ['collection', hasBackground ? 'collection--has-background' : null]
		}
	%}
		{# Headline #}
		{% if headlineBlocks is not empty %}
			{% include '_2-molecules/headline-header.twig' with {
				blocks: headlineBlocks,
				class: 'collection__header'
			} only %}
		{% endif %}

		{# Product Cards #}
		{% if productCardBlocks is not empty %}
			{% tag 'ul'
				with
				{
					class: ['c7-product-collection__product-list', code ? 'mb-lg' : null]
				}
			%}
				{% for block in productCardBlocks %}
					<li>
						{% include '_2-molecules/product-card' with {
							image: block.image.one(),
							title: block.title,
							teaser: block.subtitle
						} %}
					</li>
				{% endfor %}
			{% endtag %}
		{% endif %}

		{# C7 Collection (skeleton will be replaced) #}
		{% switch c7WidgetSelector %}
			{% case 'personalization' %}
				{% if code %}
					{% tag 'div'
						with
						{
							class: 'c7-personalization',
							'data-block-code': code
						}
					%}
						<div class="c7-product-collection" data-skeleton>
							<div class="c7-personalization__content">
								<h1 class="c7-h1">Homepage Test</h1>
							</div>

							<div class="c7-product-collection__products">
								<div class="c7-product-collection__products--featured">
									<div class="c7-product-collection__product-list">
										{% for product in 0..2 %}
											{% include '_2-molecules/c7-product-skeleton.twig' %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					{% endtag %}
				{% endif %}
			{% case 'c7Content' %}
				<div id="c7-content"></div>
			{% default %}
		{% endswitch %}
	{% endtag %}
</section>
